name = "PiccoloQuantumObjects"
uuid = "5a402ddf-f93c-42eb-975e-5582dcda653d"
version = "0.9.1"
authors = ["Aaron Trowbridge <aaron.j.trowbridge@gmail.com> and contributors"]

[deps]
DataInterpolations = "82cc6244-b520-54b8-b5a6-8a565e85f1d0"
ExponentialAction = "e24c0720-ea99-47e8-929e-571b494574d3"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NamedTrajectories = "538bc3a1-5ab9-4fc3-b776-35ca1e893e08"
OrdinaryDiffEqLinear = "521117fe-8c41-49f8-b3b6-30780b3f0fb5"
OrdinaryDiffEqTsit5 = "b1df2697-797e-41e3-8120-5422d3b24e4a"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
SymbolicIndexingInterface = "2efcf032-c050-4f8e-a9bb-153293bab1f5"
TestItemRunner = "f8b46487-2199-4994-9208-9a1283c18c0a"
TestItems = "1c621080-faea-4a02-84b6-bbd5e436b8fe"

[compat]
DataInterpolations = "8.9"
ExponentialAction = "0.2"
ForwardDiff = "1.3"
LinearAlgebra = "1.10, 1.11, 1.12"
NamedTrajectories = "0.8"
OrdinaryDiffEqLinear = "1.10"
OrdinaryDiffEqTsit5 = "1.9"
ProgressMeter = "1.11"
Reexport = "1.2"
SparseArrays = "1.10, 1.11, 1.12"
SpecialFunctions = "2.6"
SymbolicIndexingInterface = "0.3"
TestItemRunner = "1.1"
TestItems = "1.0"
julia = "1.10, 1.11, 1.12"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
